<div class="text-center">
    <h2>Sign Up</h2>
    <div class="signup hidden-xs">
        <!--<div style="height: 400px;margin-top: 100px;" class="vertical-null"></div>-->
        <!--<img style="height: 400px; margin-top: -390px;box-shadow: 0px 3px 4px 1px #e7e7e7;" src="assets/images/signup-pic.png" alt="signup">-->
        <!--<img style="height: 600px;margin-top: -350px;" src="assets/images/mobile-pic.png" alt="mobile">-->
        <!--<div style="height: 400px;margin-top: 100px;" class="vertical-null"></div>-->
        <div class="signup-mobile">
            <div class="step1">
                <p>Enter Country Code and Mobile Number for Sign Up in Handgate</p>
                <section>
                    <ui-select ng-model="Data.user.selectedCountry">
                        <ui-select-match style="border-radius: 50px; width: 250px;" placeholder="Select Your Country"><img style="height: 20px; margin-right: 10px;" src="{{$select.selected.flag}}" alt="{{$select.selected.title}}"><span class="country-code">{{$select.selected.code}}</span><span class="country-name">{{$select.selected.title}}</span></ui-select-match>
                        <ui-select-choices repeat="country in Data.countryList | filter: $select.search">
                            <div ng-bind-html="country.code | highlight: $select.search"></div>
                            <small ng-bind-html="country.title | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                    <input class="form-control phone-number" type="text" name="mobilePhone" ng-model="Data.user.registerPhoneNumber">
                </section>
                <input type="button" class="btn-join-us" value="Continue" ng-click="Func.requestActivationCode(Data.user.selectedCountry.code)">
            </div>
        </div>
    </div>
    <div class="visible-xs">
        <div class="xs-signup">
            <div class="step1">
                <p>Enter Country Code and Mobile Number for Sign Up in Handgate</p>
                <input class="form-control" type="text">
                <input class="form-control" type="text">
            </div>
        </div>
    </div>
</div>