<div class="container">
    <header>
        <img width="200" src="assets/images/logo.png" alt="logo">
        <h1>HANDGATE</h1>
        <h2>GLOBAL SAFE TRADE GATE</h2>
    </header>
    <ui-view>
        <section>
            <div class="col-sm-4 hidden-xs">
                <h2>TRADE LIKE<br>GENIUSE</h2>
                <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</h3>
                <button ui-sref="home.signup" class="btn btn-default btn-join-us">JOIN US</button>
            </div>
            <div class="col-sm-8 col-xs-12">
                <img width="100%" src="assets/images/top-image.jpg" alt="Monitors">
            </div>
            <div style="margin-top: 50px;float: right;width: 100%;" class="col-sm-12 visible-xs text-center">
                <button ui-sref="home.signup" class="btn btn-default btn-join-us">JOIN US</button>
                <h2>TRADE LIKE GENIUSE</h2>
                <h3>Lorem ipsum dolor sit amet, consectetuer<br> adipiscing elit, sed diam<br> nonummy nibh</h3>

            </div>
            <div class="visible-xs mobility-trade text-center">
                <a href="#"><img src="assets/images/app-store-btn.jpg" alt="download from app store"></a>
                <a href="#"><img src="assets/images/google-play-btn.jpg" alt="download from google play"></a>
            </div>
            <div class="col-sm-12 hidden-xs">
                <div class="horizontal-null"></div>
            </div>
            <div class="col-sm-12 hidden-xs">
                <h4 style="text-align: center">MOBILE APPLICATION</h4>
                <div class="col-sm-4 mobility-trade">
                    <h2>MOBILITY<br>TRADE</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</h3>
                    <a href="#"><img src="assets/images/app-store-btn.jpg" alt="download from app store"></a>
                    <a href="#"><img src="assets/images/google-play-btn.jpg" alt="download from google play"></a>
                </div>
                <div class="col-sm-8 mobile-stuffs">
                    <img height="400px" src="assets/images/mobile-pic.png" alt="mobile">
                    <img height="300px" style="position: absolute;left: 32px;top: 50px;" src="assets/images/app-pic-1.jpg" alt="app pic 1">
                    <img height="300px" src="assets/images/app-pic-2.jpg" alt="app pic 2">
                </div>
            </div>
        </section>
    </div>
</ui-view>
<footer class="col-sm-12 container">
    <div>
        <form class="hidden-xs" ng-submit="sendComment(cm)">
            <input ng-model="cm.full_name" placeholder="Full Name" type="text" name="name" class="form-control" required>
            <input ng-model="cm.email" placeholder="Email" style="margin-left: 13px;" type="email" name="email" class="form-control" required>
            <textarea ng-model="cm.message" placeholder="Your Message goes here" class="form-control" required></textarea>
            <input class="btn btn-default btn-join-us btn-footer" type="submit" value="SUBMIT">
        </form>
        <ul>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>INFO@HANDGATE.COM</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+86 150 211 34641</li>
            <li style="padding-left: 22px;">+98 215 516 8666-8</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>IRAN, TEHRAN</li>
        </ul>
    </div>
</footer>