.signup .vertical-null{

}
.signup img, .signup div{
    display: inline-block;
}
.signup-mobile{
    background: rgba(0, 0, 0, 0) url('../../assets/images/mobile-pic.png') no-repeat scroll 0 0 / 100% 100%;
    background-size: 70%;
    width: 550px;
    height: 800px;
    position: relative;
    left: 85px;

}
.signup-mobile .step1{
    background: rgba(0, 0, 0, 0) url('../../assets/images/mobile-phone-bg.png') no-repeat scroll 0 0 / 100% auto;
    width: 59%;
    position: relative;
    top: 92px;
    left: -80px;
    background-size: 100%;
    padding: 10px;
    height: 100%;
}

.signup-mobile .step1 input{
    width: 80%;
    text-align: center;
    margin: 10px auto;
    border-radius: 50px
}
.signup-mobile .step1 section span.country-code{
    position: relative;
    top: 2px;
    display: contents;
    color: #9f9e9e;
}
.signup-mobile .step1 section span.country-name{
    position: relative;
    width: auto;
    float: right;
    bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
}
.signup-mobile .step1 section input{
    width: 250px;
}
.signup-mobile .step1 .btn-join-us{
    position: relative;
    font-weight: 500;
    height: 40px;
    color: #000;
    top: 58px;
}
.signup-mobile input.phone-number, .signup-mobile input.activation-code{
    background: url('../../assets/images/register-phone.png') #FFF no-repeat;
    background-size: 20px;
    background-position: 10px;
}
.ui-select-toggle{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.ui-select-choices-group div{
    display: block;
}
.step1 p{
    color: #FFFFFF;
    font-size: 16px;
    padding: 30px;
}
.xs-signup .step1{
    background: url('../../assets/images/mobile-phone-bg.png') no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 50px;
    margin: 40px 0;
}
.xs-signup .step1 input{
    border-radius: 50px;
    margin: 20px 0
}
.signup-mobile .step2 {
    width: 59%;
    left: -80px;
}
.signup-mobile .step2 .btn-join-us{
    top: 28px;
}
.signup-mobile .step2 section span{
    color: #FFF;
}
.step4 .account{
    width: 120px;
    height: 120px;
    background: #d7d7d7;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    border: 5px solid #FFF;
}
.step4 i.fa-user{
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    color: #F2EDED;
}
.step4 i.fa-envelope{
    position: absolute;
    left: 20px;
    top: 10px;
    color: #cecece;
}